TOKEN='токен_вашего_бота'
ADMIN=телеграм_айди_админа
PRIVATE_CHANNEL_ID=айди_канала
PRIVATE_CHAT_ID=айди_чата(если_существует)
DATABASE_URL='postgresql+asyncpg://юзер:пароль@127.0.0.1:5432/имя_базы_данных'

DB_USER='postgres'
DB_PASSWORD='пароль_от_бд'
DB_NAME='sub_bot_db'